@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Lato:wght@300;400&display=swap');

:root {
  --bg-color: #D9CDF7;
  --text-color: #271a27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  #app {
    display: flex;
    align-items: center;

    .product-image {
      position: relative;

      .btn-group {
        position: absolute;
        top: 0;
        right: 50px;
        width: 50px;
        height: 50px;

        button {
          border: none;
          padding: 10px;
          background: transparent;
          cursor: pointer;

          &:hover {
            opacity: .85;
          }
        }

        .btn-close {
          display: none;
        }
      }

      &>img {
        max-width: 100%;
        height: 253px;
        object-fit: cover;
      }
    }

    .product-details {
      display: grid;
      gap: 18px;

      h4 {
        font-weight: 300;
        font-size: 10px;
        text-transform: uppercase;
      }

      h1 {
        font-size: 32px;
        font-weight: 600;
        font-family: 'Crimson Pro', serif;
      }

      p {
        opacity: 0.67;
      }

      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        gap: 8px;
        width: 165px;
        height: 32px;
        background-color: transparent;
        border: 0.5px solid #271A45;
        border-radius: 999px;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        cursor: pointer;
        transition: .2s;

        &:hover {
          background-color: var(--text-color);
          color: var(--bg-color);
        }
      }
    }
  }
}

@media(max-width: 800px) {
  body {

    #app {
      flex-direction: column;
      justify-content: center;

      .product-image {
        &>img {
          width: max-content;
        }
      }

      .product-details {
        gap: 14px;

        h4 {
          font-size: 12px;
        }

        h1 {
          font-size: 26px;
        }

        button {
          width: 100%;
          font-size: 14px;
        }
      }
    }
  }
}